/*
 * General/Utility Styles
*/
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

body {
  margin: 0;
  background:#ff8700;
  font-family: 'Sacramento', cursive;
  font-size: 0.875rem;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/*
 * Button styles
*/
button{
  width: 300px;
  height: 60px;
  padding-top: 3px;
  background-color: #ff8700;
  border: 5px solid black;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 400;
  overflow: hidden;
  font-family: 'Tajawal', sans-serif;
}

button:hover{
  background-color: black;
  border: 4px solid black;
  color: #ff8700;
}

button a{
  text-decoration: none;
}

/*
 * Heading 
*/

nav {
  display:flex;
  background: black;
  height: 7rem;
  justify-content: space-around;
  align-items: center;
}


/*
 * Header and .hero Styles
*/

nav h2 {
  padding: 3px auto;
  font-size: 60px; /* 22px / 16px */
  color: #ff8700;
}

/*
 * Container
*/

.container{
  margin: 15% auto;
  width: 400px;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}

@media only screen and (max-width: 1920px) {
  .container {
    margin: 15% auto ;
  }

  button{
    padding-top: 7px;
  }
  
}

@media only screen and (max-width: 768px) {
  .container {
    margin: 230px auto ;
  }

  button{
    width: 270px;
  }

  nav h2 {
    font-size: 50px; /* 22px / 16px */
  }
  
}