/*
 * General/Utility Styles
*/
* {
  margin: 0px;
  padding: 0px;
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

body {
  text-align: left;
  background:white;
  font-family: 'Tajawal', sans-serif;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.wrapper{
  width: 90%;
  margin: 0 auto;
}

.wrapper2{
  padding-top: 50px;
  width: 60%;
  margin: 0 auto;
}
/*
 * Navigation bar divs
*/

.wrapper a{
  text-decoration: none;
}

.wrapper2 a{
  text-decoration: none;
}


nav{
  height: 80px;
  z-index: 12;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: black;
}

.logo{
  width: 30%;
  float: left;
}

.logo a{
  text-decoration: none;
  font-size: 30px;
  font-family: 'Sacramento', sans-serif;
  color: #ff8700;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.nav-links li{
  list-style: none;
}

.nav-links a{
  text-decoration: none;
  font-family: 'Tajawal', sans-serif;
  font-size: 20px;
  color: #ff8700;
}

.burger{
  display: none;
}

.burger div{
  width: 25px;
  height: 3px;
  background-color: #ff8700;
  margin: 5px;
  transition: all 0.6s ease;
}

.banner-area{
  width: 100%;
  height: 500px;
  position: relative;
  top: 80px;
  text-align: center;
  background-image: url(../Images/Kobe_MJ.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -120px;
}

.banner-area h2{
  padding-top: 160px;
  font-size: 70px;
  font-family: 'Tajawal', sans-serif;
  text-transform: uppercase;
  color: white;
}

/* Content area divs */

.content-area{
  width: 100%;
  position: relative;
  background: white;
}

.content-area h2{
  font-family: 'Tajawal', sans-serif;
  letter-spacing: 1px;
  padding-top: 50px;
  font-size: 40px;
  margin: 0;
}

.content-area p{
  font-size: 20px;
  padding: 2% 0;
  font-family: 'Tajawal', sans-serif;
  line-height: 30px;
}

.content-area li{
  list-style-type: disc;
  margin-top: 30px;
  font-size: 30px;
  font-family: 'Tajawal', sans-serif;
}

@media only screen and (max-width: 1180px) {
  .logo{
    width: 20%;
  }

  .banner-area{
    background-position-y: -100px;
  }

  .nav-links{
    width: 60%;
  }

  .content-area{
    width: 100%;
    padding-bottom: 30px;
  }
}

@media only screen and (max-width: 768px) {
  body{
    overflow-x: hidden
  };

  .banner-area h2{
    color: orange; 
  }

  .banner-area{
    background-position-y: -50px;
  }

  .logo{
    width: 30%;
    float: left;
  }

  .container {
    background:white;
    font-family: 'Sacramento', cursive;
    width: 100%;
    margin: 20% auto ;
  }

  .nav-links{
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 80px;
    display: flex;
    background-color: black;
    align-items: center;
    flex-direction: column;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.4s ease-in;
  }

  .nav-links li{
    opacity: 0;
  }

  .burger{
    display: block;
    cursor: pointer;
  }

  .banner-area{
    height: 300px;
  }

  .banner-area h2{
    padding-top: 80px;
  }
  
}

.nav-active{
  transform: translateX(0%);
}

@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1{
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2{
  opacity: 0;
}

.toggle .line3{
  transform: rotate(45deg) translate(-5px, -6px);
}
