/*
 * General/Utility Styles
*/
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

body {
  margin: 0;
  background:#ff8700;
  font-family: 'Sacramento', cursive;
  font-size: 0.875rem;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

a{
  text-decoration: none;
}

/*
 * Container and footer
*/

.wrapper{
  position: absolute; /*position: fixed;*/
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.container{
  margin: 15% auto;
  width: 320px;
  text-align: center;
  vertical-align: middle;
}

.container h2 {
  font-size: 60px; /* 22px / 16px */
  color: black;
  padding-bottom: 30%;
}

footer{
  text-align: center;
  display: inline-block;
  font-family: 'Tajawal', sans-serif;
  font-size: 20px;
  padding-top: 0.4%;
  top: 97%;
  width: 100%;
  background-color: black;
  color: #ff8700;
  height: 3%;
  position: absolute;
}

/*
 * Button styles
*/
button{
  border: 3px solid black;
  width: 270px;
  height: 50px;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /*padding-top: 3px;*/
  background-color: #ff8700;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 500;
  overflow: hidden;
  font-family: 'Tajawal', sans-serif;
}


button:hover{
  background-color: black;
  border: 3px solid black;
  color: #ff8700;
}


@media only screen and (max-width: 1920px) {
  button{
    /*padding-top: 7px;*/
  }
  
}

@media only screen and (max-width: 768px) {
  .container {
    margin: 30% auto ;
  }

  .container h2 {
    font-size: 50px; /* 22px / 16px */
  }
  
}
